.title {
  display: inline-flex;
  font-size: 1.5rem;
  width: 15rem;
  height: 7.5rem;
  font-weight: bold;
  border: 1px solid yellow;
  text-align: center;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
}

.container {
  margin: 0 10rem 0 10rem;
}
